.article {
  padding: 32px;

  text-align: center;


  span,
  p {
    color: $primariColor;
  }


  h1 {
    color         : $neutralColor;
    font-size     : 2.5rem;
    line-height   : 1.05;
    letter-spacing: .68rem;

    span {
      font-size  : 2.5rem;
      font-weight: 300;
    }
  }


  p {
    margin-top   : -1rem;
    margin-bottom: -1rem;

    font-size     : .8rem;
    font-weight   : 600;
    line-height   : 1.72;
    letter-spacing: .027rem;
  }
}



// Media Queries
// =================================
@media only screen and (min-width: 769px) {
  .article {
    grid-column: 1;
    padding    : 0 50px 37.5px 82px;

    text-align: unset;


    h1 {
      font-size     : 3rem;
      line-height   : 1.07;
      letter-spacing: 1.1rem;

      span {
        font-size: 3rem;
      }
    }


    p {
      margin-top   : -1rem;
      margin-bottom: -.5rem;

      font-size     : .8rem;
      line-height   : 1.75;
      letter-spacing: -.004rem;
    }
  }
}

@media only screen and (min-width: 937px) {
  .article {
    h1 {
      font-size: 3.5rem;

      span {
        font-size: 3.5rem;
      }
    }


    p {
      font-size: .9rem;
    }
  }
}

@media only screen and (min-width: 1028px) {
  .article {
    max-width: 750px;
    padding  : 20px 170px 20px 120px;


    h1 {
      font-size: 4rem;

      span {
        font-size: 4rem;
      }
    }


    p {
      margin-top: -2rem;
    }
  }
}
