.form {
  padding-right: 2rem;
  padding-left : 2rem;

  div {
    position    : relative;
    max-width   : 25.875rem;
    margin-right: auto;
    margin-left : auto;

    input {
      display: block;
      width  : 100%;
      margin : .9rem auto 0;
      padding: 1rem 1.3rem;

      font-family   : 'Josefin Sans', sans-serif;
      letter-spacing: .03rem;

      background-color: transparent;
      border          : .0625rem solid $primariColor;
      border-radius   : 1.5625rem;

      opacity: .5;

      &::placeholder {
        color: $primariColor;
      }

      &:focus {
        margin-top: .8rem;

        outline: none;

        border: .125rem solid $secondaryColor;

        opacity: 1;
      }

    }

    .error-img {
      position : absolute;
      top      : 50%;
      right    : 4.375rem;
      transform: translateY(-50%);

      display  : none;
      max-width: 1.375rem;

      &.open {
        display: unset;
      }
    }

    .error-text {
      position: absolute;

      display     : none;
      padding-left: 1.3rem;
      margin-top  : .5rem;

      color         : $secondaryColor;
      font-size     : .8rem;
      font-weight   : 600;
      letter-spacing: .027rem;

      &.open {
        display: unset;
      }
    }

    button {
      position: absolute;
      top     : 0;
      right   : 0;

      display: block;
      padding: .9rem 1.6rem;

      background   : $gradiente2;
      border       : none;
      border-radius: 1.5625rem;
      box-shadow   : 0 .5rem 1rem rgba(241, 155, 155, .5);

      cursor    : pointer;
      transition: box-shadow .1s;

      &:hover {
        background: linear-gradient(135deg, hsl(0, 78%, 91%), hsl(0, 74%, 79%));
        box-shadow: 0 .7rem 1rem .2rem rgb(223, 172, 172);
      }

      img {
        max-width: 100%;
      }
    }
  }
}

// Media Queries
// =================================
@media only screen and (min-width: 769px) {
  .form {
    grid-column: 1;
    padding    : 37.5px 5rem 95px 5rem;

    div {
      max-width   : 28.875rem;
      margin-right: unset;
      margin-left : unset;

      input {
        padding: 1.15rem 1.9rem;

        font-size: .96rem;
      }

      .error-img {
        right: 6.875rem;

        max-width: 100%;
      }

      button {
        padding: 1.15rem 2.8rem;
      }
    }
  }
}

@media only screen and (min-width: 937px) {
  .form {
    padding: 22px 5rem 72px 5rem;

    div {
      max-width: 25.875rem;
    }
  }
}

@media only screen and (min-width: 1028px) {
  .form {
    padding: 22px 10rem 83px 120px;
  }
}

@media only screen and (min-width: 1359px) {
  .form {
    padding-bottom: 95px;
  }
}
