// Global
// =================================
*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  margin: 0;

  font-family: 'Josefin Sans', sans-serif;
}

img {
  display: block;
}

// =================================
.app {
  padding-bottom: 75px;

  background: {
    color     : $gradiente1;
    image     : $gradiente1, url("../images/bg-pattern-desktop.svg");
    position  : left;
    repeat    : no-repeat;
    blend-mode: hue;
  }
}
